.DashedLine{
    width: 540px;
    height: 0px;
    
    /* Light Bg */
    
    border: 0.5px dashed #FDFBFF;
    
    /* Inside auto layout */
    display: flex;
    
    flex: none;
    /* order: 1; */
    flex-grow: 0;
}

@media screen and (max-width: 640px) {
    .DashedLine{
        width: 319px;
    }
}