.FeatureDiv1{
        
        color: #EEEEEE;

        width: 100%;
            /* height: 160px; */
            left: 820px;
            top: 768px;
        
            background: #33307B;
            border-radius: 12px;
    
    
}

.FeatureDiv1-container{
    margin: 20px;
}

.FeatureDiv1-list{
    position: relative;
    margin-top: 16px;
    align-content: left;
}

.FeatureDiv1-heading{
    font-family: 'Gilroy-Bold';
        font-size: 24px;
        /* line-height: 20px; */
        /* identical to box height, or 83% */
    
        display: flex;
        align-items: center;
        letter-spacing: -0.2px;
        text-transform: capitalize;
    
        color: #EEEEEE;

        
}

.FeatureDiv1-li{
    font-family: 'Gilroy-Medium';
        font-size: 18px;
        /* line-height: 28px; */
        /* or 156% */
    
        
        text-align: left;
    
        color: #EEEEEE;
}

@media screen and (max-width: 640px) {
    .FeatureDiv1-heading{
        font-size: 16px;
    }

    .FeatureDiv1-li{
        font-size: 12px;
    }

    .FeatureDiv1-list{
        margin-top: 10px;
    }
}