.Features{
    display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: flex-start;
        
        gap: 35px;
        /* gap: auto; */
        

        width: 520px;
        height: 100%;

        /* position: absolute;
        width: 520px;
        height: 670px;
        left: 820px;
        top: 768px; */
        /* background-color: #33307B; */
        
        border-radius: 12px;
}