.Header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    /* width: calc(100% - 200px); */
    /* width: 1300px; */
    height: 276px;
    /* left: 100px;
    top: 100px; */
    
    background: #202C38;
    border-radius: 12px;
}

#CW2{
    position: relative;
    /* width: 400.57px; */
    height: 100%;
    
    border-radius: 12px 0px 0px 12px;
}

#CW1{
    position: relative;
    /* width: 400.57px; */
    height: 100%;
    
    border-radius: 0px 12px 12px 0px;
}

#Visual{
    display: none;
}

#Header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 44px;
    
    position: relative;
    /* width: 484px;
    height: 196px;
    left: 363px;
    top: 44px; */

    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

#Header-div-text{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 484px;
    height: 96px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

#Header-div-maintext{
    
    /* width: 474px;
    height: 40px; */
    font-family: 'Gilroy-Bold';
    font-size: 32px;
    line-height: 38px;
    /* display: flex;
    align-items: flex-start;
    text-align: center; */
    align-self: flex-start;
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Header-div-subtext{
    /* width: 484px;
    height: 48px; */
    
    font-family: 'Gilroy-Medium';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    /* or 150% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#subtext2{
    display: none;
}

.Header-div-button{
    /* all: unset; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 8px;
    gap: 8px;
    
    width: 251px;
    height: 56px;
    
    font-family: 'Gilroy-Bold';
        font-size: 18px;
        line-height: 20px;

    color: #FDFBFF;

    /* Gradient for dark */
    
    background: linear-gradient(90deg, #B25AFF 0%, #7A27CA 100%);
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#button2{
    display: none;
}

#GraphicElement{
    position: absolute;
    left: 67.5%;
    right: 27.18%;
    top: 5.42%;
    bottom: 78.98%;
    
    
}

@media screen and (max-width: 1480px) {

    .Header{
        flex-direction: column;
        height: 100%;
        width: 600px;
        padding-bottom: 40px;
    }

    #Visual{
        display: block;
        width: 100%;
    }

    #CW1{
        display: none;
    }

    #CW2{
        display: none;
    }

    #button1{
        display: none;
    }

    #button2{
        display: block;
    }

    #subtext1{
        display: none;
    }

    #subtext2{
        display: block;
    }

        #GraphicElement {
            position: absolute;
            left: 88.5%;
            right: 27.18%;
            top: 56.42%;
            bottom: 78.98%;
    
    
        }
}