.App {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 60px;
  text-align: center;
  /* width: 100%;
  height: 100%; */
  background: #15202B;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top-box{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding-top: 5%;
}

.content-box{
  display: flex;
  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  gap: 60px;
    /* width: calc(100% - 200px); */
    /* height: 670px; */
    margin-left: 100px;
    margin-right: 100px;
    
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  /*Can be any text*/
  src: local("Gilroy-Bold"),
    url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  /*Can be any text*/
  src: local("Gilroy-Medium"),
    url("./fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Semibold";
  /*Can be any text*/
  src: local("Gilroy-Semibold"),
    url("./fonts/gilroy/Gilroy-Semibold.ttf") format("truetype");
}



@font-face {
  font-family: "Roboto";
  /*Can be any text*/
  src: url('./fonts/Roboto/Roboto-Medium.ttf') format("truetype");
}